#cloud-config
package_update: true
package_upgrade: false

packages:
  - qemu-guest-agent
  - python3
  - python3-apt

users:
  - name: txgrid
    passwd: $6$rounds=4096$AwvmD/RZZy9TY8uQ$rN1n3fmpA3IuAK8WyTiJ.TxnPplCk6JR1ZQiXyt/PWcv4OYubIaI9WsdjbGOaX9gTQ4XYt2D7viO.aexrWYHs.
    lock_passwd: false
    ssh_authorized_keys:
      - ${ssh_pubkey}
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash

ssh_pwauth: false
disable_root: true

hostname: ${node_name}
manage_etc_hosts: true

# Optional: drop a tiny file with a "role hint" Ansible can read
write_files:
  - path: /etc/txgrid-role
    permissions: "0644"
    owner: root:root
    content: "${node_role}\n"

bootcmd:
  - sed -i 's/GRUB_CMDLINE_LINUX="\(.*\)"/GRUB_CMDLINE_LINUX="\1 console=ttyS0,115200n8"/' /etc/default/grub
  - update-grub
  - systemctl enable serial-getty@ttyS0.service

runcmd:
  - systemctl start serial-getty@ttyS0.service
  - systemctl enable qemu-guest-agent
  - systemctl start qemu-guest-agent
